{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src/lib"
        ],
        "alias": {
          "~": "./src",
          "#": "./src/middlewares"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ]
}